/* This is a comment */
img{
    width: 350px;
    float: right;
}

h1{
    color: lightcoral;
    font-size: 100px;
}

p{
    color: lightseagreen;
    font-size: 50px;
    font-style: normal;
}

section{
    background-color: rgb(250, 220, 224);
    overflow: auto;
    padding: 25px;
}
.home-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
      

