@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sigmar&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;   
}

nav a{
    text-align:center;
    color: cornsilk;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1{
    text-align:center;
}
#hero-msg h4{
    text-align:center;
}
.button-box{
    text-align:center;
}
main section{
    text-align:center;
}
#background {
    height: 725px;
    background-color: tan;
}
body {
    background-color: tan;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: darkolivegreen;
}
nav a:hover {
    background-color: rgb(9, 87, 66);
    color: lightseagreen;
}
.book, .join {
    background-color: darkolivegreen;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: darkolivegreen;
    color: white;
}
.msg{
    background-color: white;
    line-height: 1.5em;
}
footer{
    background-color: darkolivegreen;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: white;
    margin-top: 10px;
}
h4 {
    color: white;
}
.msg h2 {
    color: darkolivegreen;
}
.msg p {
    color: darkolivegreen;
    padding-bottom: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a hover {
    color: darkolivegreen;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.home-title {
    font-family: "Sigmar";
    font-size: 2em;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid darkolivegreen;
}
main section img {
    box-sizing: border-box;
}